{% extends 'layout.twig' %}


{% block body %}

<!--<img src="/images/banner103.jpg" class="img-fluid" alt="banner image">-->
<div class="banner brake-3">

</div>

<div class="mask mask-up">

<div class="container">
  <div class="row justify-content-rigth">
      <div class="col-7 color-white">
          <blockquote class="blockquote">
            <h1>Download & Setup instructions</h1>
          </blockquote>
      </div>
  </div>
</div>

</div>

<div class="brake-2">
</div>

<div class="container">
  <div class="card mb-3">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="/images/interface2.jpg" class="img-fluid rounded-start" alt="logo">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">GRAND2020 Plugin Editor for Trackmania</h5>
          <p class="card-text">Download the file 'Grand2020.Script.txt' to your trackmania folder 'Documents\Trackmania\Scripts\EditorPlugins\TrackMania' then restart your Trackmania game.</p>
          
          <div class="col-4 mb-2">
            <a class="btn btn-mygreen" href="/download/latest">Download {{ plugin_version }}</a>
          </div>
          
          <p class="card-text"><small class="text-muted">Last updated {{last_update}}</small></p>
        </div>
      </div>
    </div>
  </div>

  <div class="brake-2"></div>

  <div class="card mb-3">
    <div class="row g-0">
      <div class="col-md-12">
        <div class="card-body">
          <h5 class="card-title">Instructions</h5>
          <ul class="list-unstyled">
            <li>1. First, download the latest version of the script.</li>
            <li>2. Copy/Paste the script to your Trackmania Folder ('Documents\Trackmania\Scripts\EditorPlugins\TrackMania' or 'Documents\Trackmania2020\Scripts\EditorPlugins\TrackMania').</li>
            <li>3. Start or restart your Trackmania game.</li>
            <li>4. Open the advanced map editor with mouse & keyboard (not with gamepad and not in simple editor). </li>
            <li>5. Open the Plugins tab [P] and find the script. If it does not appear, reload all scripts (on the left of the create button in the plugin tab). </li>
            <li>6. Start the plugin and enjoy the GRAND2020 multi-editor! </li>
            <li><div class="brake"></div></li>
            <li>In case of troubleshooting, you can ask your questions on <a target="_blank" href="https://discord.gg/nrdBkV6XBg">Discord</a>.</li>
          </ul>
        </div>
      </div>
    </div>
  </div>  

</div>
    

{% endblock %}
