<footer>
    <div class="container-fluid pt-5 pb-5 navbar-fixed-bottom">
        <figure class="text-center">
        
            <p>GRAND2020 - <a target="_blank" href="https://github.com/jovenium/Grand-2020">GitHub</a> - <a target="_blank" href="https://discord.gg/nrdBkV6XBg">Discord</a></p>
        
        <figcaption class="blockquote-footer">
            Made by jovenium
        </figcaption>
        </figure>
    </div>
</footer>