<nav class="navbar navbar-dark navbar-expand-lg bg-nadeo">
  <div class="container-fluid">
    <a class="navbar-brand title" href="/">GRAND2020</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <div class="navbar-nav">
        <a class="nav-link" href="/">Home</a>
        <a class="nav-link" href="/download">Download</a>
        <a class="nav-link" target="_blank" href="https://github.com/jovenium/Grand-2020">GitHub</a>
      </div>
    </div>
  </div>
</nav>